@import './variables.scss';

.canvas {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px black solid;
    background-color: white;
}